html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}




img {
    vertical-align: middle;
    height: 7rem;
    width: 7rem;
}



.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

div {
    display: block;
}
.unstarted-mode:not(.playing-mode) .ytp-cued-thumbnail-overlay:not([aria-hidden=true]), .ended-mode .ytp-cued-thumbnail-overlay:not([aria-hidden=true]) {
    cursor: pointer;
}
.html5-video-player {
    
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
}
body {
    font: 12px Roboto, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* overflow-x: auto; */
    position: absolute;
    margin: 0;
    padding: 0;
}

.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}

.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border: 1px solid #424242;
    border-radius: 5px;
}
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-track {
    background-color: #424242;
} */




.header_banner {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(https://i.ytimg.com/vi_webp/YOWYd37QWl4/maxresdefault.webp);
}
.new-banner {
    margin-top: 110px !important;
}

section {
    display: block;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}





.video-container{
    background-image: url(https://i.ytimg.com/vi_webp/YOWYd37QWl4/maxresdefault.webp);
    z-index: 2;
    height: 50%;
}


.w-100 {
    width: 100%!important;
}
.about-marathon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-direction: unset; */
    margin-top: 10px !important;
    margin-left: 0px;
    flex-wrap: wrap;
}
/* .about-marathon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 5.5rem !important;
} */

div {
    display: block;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.detail {
    top: 0;
    background-color: transparent;
    left: 0;
    height: 100%;
    z-index: 10000;
    transition: height 0.3s;
    text-align: left;
    width: 100%;
    padding: 5% 0% 6% 0%;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}



/* ***************************************** About section ************************************************* */


.container{
  display: flex;
  
  padding: 2px 2px ;
}

.left-col-intro {
  width: 50%;
  padding: 0px 20px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.right-col-intro {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-banner-book-btn {
    position: relative;
    background-color: #FFBF04 !important;
    border-bottom: 4px solid #fff !important;
    color: #020404 !important;
    font-weight: 700;
    padding: 15px !important;
    border-radius: 30px !important;
    font-size: 18px !important;
    font-weight: 600;
    top: 52px;
    left: -264px;
}
/* .register{

  display: block;
  background-color: #ffbf12 !important;
  border-bottom: 4px solid #fff !important;
  color: #020404 !important;
  font-weight: 700;
  padding: 15px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
  font-weight: 600;
} */

a{
  text-decoration: none;
  position: relative;
  top : 0px ;
  color: black ;
}
.align-items-center {
    /* -webkit-box-align: center!important; */
    /* -webkit-align-items: center!important; */
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    /* -webkit-justify-content: center!important; */
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    /* -webkit-flex-direction: column!important; */
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
@media (min-width: 1200px){
    
    .container {
        width: 1140px;
        max-width: 100%;
    }
}
@media (min-width: 992px)
{

    .container {
        width: 960px;
        max-width: 100%;
    }
}
@media (min-width: 768px)
{

    .container {
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width: 576px)
{

    .container {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width: 1200px)
{

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px)
{

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px)
{

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px)
{

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.text-center {
    text-align: center!important;
}
.topic-heading {
    font-size: 34px;
    margin-bottom: 30px;
}
.h4, h4 {
    font-size: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.registration-heading {
    margin-top: 0px;
}

.registration-heading {
    text-align: center;
    /* margin-top: 1.49em; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.49em;
    font-size: 28px;
}
b, strong {
    font-weight: bolder;
    /* color: #955edb; */
}
.w-100 {
    width: 100%!important;
}

@media (min-width: 768px){

    .flex-md-column {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -webkit-flex-direction: column!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
}
.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}


.racecategories-heading {
    text-align: center;
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.49em;
    font-size: 28px;
}
.finals-div {
    width: 40%;
    height: 60px;
    background: #955edb;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 240px;
}
.w-100 {
    width: 100%!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
@media (min-width: 1200px){

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 992px)
{

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 768px)
{

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 576px)
{

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
div {
    display: block;
}
@media (min-width: 768px)
{

    .flex-md-column {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -webkit-flex-direction: column!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.Semi-finals-div {
    width: 55%;
    height: 60px;
    background: #dd553a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 180px;
}
.quarters-div {
    width: 70%;
    height: 60px;
    background: #03115c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 120px;
}
.prelimnary-div {
    width: 85%;
    height: 60px;
    background: #4fbcd8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
}
.pyramid-view {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 290px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
strike {
    text-decoration: line-through;
}
.card-title-subtext {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #955edb;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.registration-card a.book-now {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: auto;
    background-color: #ffbf12;
    border-bottom: 4px solid #fff !important;
    color: #020404;
    padding: 15px 45px 15px 45px;
    border-radius: 30px !important;
    font-size: 20px;
    font-weight: 600;
}
div#myTabContent {
    margin-bottom: 0px !important;
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.tab-content>.active {
    display: block;
}

.fade.show {
    opacity: 1;
}
.fade {
 
    transition: opacity .15s linear;
}

.rules-heading {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-top: 40px;
}

.center-heading {
    text-align: center;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
h1 {
    margin: 0.67em 0;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.rules-heading {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-top: 40px;
}
.center-heading {
    text-align: center;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
  
}

.h4, h4 {
    font-size: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
*, ::after, ::before {
    box-sizing: inherit;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.align-items-center {
    -webkit-box-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    justify-content: space-between!important;

}

.d-flex {
    display: flex!important;

}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

.pricecard {
    width: 100%;
    /* height: 280px; */
    margin: 0px auto;
    /* border: 1px solid #dddd; */
    border-radius: 5px;
    /* box-shadow: 0px 1px 9px 1px #1b1b1b2e; */
    /* margin: 10px; */
    padding: 0px;
}
.pricecard .header {
    /* width: 98% !important; */
    width: 100%;
    height: 60px;
    background: #ffbf12;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
}
.pricecard1 .header {
    width: 100% !important;
    height: 60px;
    background: #ffbf12;
    padding: 0 25px;
    border-radius: 5px 5px 0px 0px;
}

.header-with-image .icon-trophy {
    position: absolute;
    right: -133px;
    top: -8px;
}
img {
    vertical-align: middle;
}
img {
    border-style: none;
}
*, ::after, ::before {
    /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.header-with-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.text-uppercase {
    text-transform: uppercase!important;
}

.p-0 {
    padding: 0 0!important;
}
.m-0 {
    margin: 0 0!important;
}
.w-100 {
    width: 100%!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.p-0 {
    padding: 0 0!important;
}
.m-0 {
    margin: 0 0!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.rulesheading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   
    line-height: 1.1;
}
*, ::after, ::before {
    box-sizing: inherit;
}

h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p-2 {
    padding: 0.5rem 0.5rem!important;
}
@media (min-width: 768px){

    .flex-md-column {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -webkit-flex-direction: column!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    
    flex-direction: column!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
div {
    display: block;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}


.align-items-start {
    -webkit-box-align: start!important;
    -webkit-align-items: flex-start!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}
.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.row-bulletscontent-area {
    margin-bottom: -15px;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
div {
    display: block;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.unicode-class {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 28px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    margin: 0.67em 0;
}
*, ::after, ::before {
    box-sizing: inherit;
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row-content-text {
    font-size: 16px;
    line-height: 32px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 10px;
}

.supported-heading-text {
    margin-top: 2rem;
}
.supported-heading-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.49em;
    font-size: 28px;
}
.w-100 {
    width: 100%!important;
}
@media (min-width: 1200px)
{

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.align-items-center {
    -webkit-box-align: center!important;
    /* -webkit-align-items: center!important; */
    -ms-flex-align: center!important;
    align-items: center!important;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    /* -webkit-flex-direction: column!important; */
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    /* display: -webkit-box!important; */
    /* display: -webkit-flex!important; */
    display: -ms-flexbox!important;
    display: flex!important;
}
@media (min-width: 768px)
{

    .col-md-12 {
        /* -webkit-box-flex: 0; */
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 1200px){

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.support-content-line1 {
    font-size: 18px;
    line-height: 32px;
    margin-top: 2px;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.supported-heading-text {
    margin-top: 2rem;
}
.supported-heading-text {
    text-align: center;
    /* margin-top: 5rem; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.49em;
    /* font-size: 28px; */
}
.prelim-dates-cont p {
    margin-bottom: 0px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.divider {
    margin-top: 0px;
    margin-bottom: 2rem;
}
ul.info-list {
    padding-left: 25px;
    /* font-size: 18px; */
    line-height: 32px;
    margin-top: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

dl, ol, ul {
    /* margin-top: 0; */
    margin-bottom: 1rem;
}
*, ::after, ::before {
    /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
}
ul {
    display: block;
    /* list-style-type: decimal; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.divider {
    border-top-width: 1px;
    border-top-color: #f0f0f0;
    border-top-style: solid;
    /* margin-top: 5rem; */
}

/* ****************************************** structure of quiz ***************************************** */

.racecategories-heading {
    text-align: center;
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.49em;
    font-size: 28px;
}
.line-timeline {
    height: 4px;
    background: #eee;
    width: 100%;
    position: relative;
    top: 13px;
    left: 0;
}

.timeline {
    /* white-space: nowrap; */
    padding: 30px 0 10px 0;
    position: relative;
    width: 100%;
}

.entry {
    box-shadow: 7px 5px 7px 0px #F9F9F9;
    height: 100%;
    padding: 20px;
    border: 1px solid #e0faff;
    border-radius: 15px;
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    color: #955edb;
    font-size: 14px;
    text-align: center;
    position: relative;
    border-top: 4px solid #955edb;
    border-radius: 3px;
    min-width: 200px;
    max-width: 500px;
    width: 19.68%;
}

*, ::after, ::before {
    /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}